.actionLink {
    font-size: 11px;
    line-height: 13px;
    color: var(--blueClr);
    cursor: pointer;
    text-decoration: none;

    &:hover {
        color: darkblue;
    }

    &--red {
        color: var(--redClr);

        &:hover {
            color: darkred;
        }
    }
}
