

.dialog--addFile .dialog__fileInput {
    margin-bottom: 45px;
}

.fileInput {
    &__label {
        cursor: pointer;
        text-decoration: underline;
        color: var(--blueClr);
    }

    &__chosenFileName {
        color: var(--greyTextClr);
    }
}
