
.chat {
    &__msgGroupDate {
        margin-bottom: 25px;
        font-size: 12px;
        color: var(--greyTextClr);
        text-align: center;
    }

    &__msgGroupByDate {
        display: flex;
        flex-direction: column;
    }
}