<div class="logIn__page">
    <main class="logIn__container">
        <div class="form__wrap">
            <h1 class="form__title">Вход</h1>
            <form class="logIn__form form" data-forEventName="formElement">
                {{{ formControls }}}
                <div class="form__buttonWrap logIn__formBtnWrap">
                    {{{ button }}}
                </div>
                <div class="form__action">
                    {{{ enterLink }}}
                </div>
            </form>
        </div>
    </main>
    {{{ pagesNavigation  }}}
</div>
