.button {
    width: 280px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--blueClr);
    color: #fff;
    transition-property: background-color;
    transition-duration: 0.25s;

    &:hover {
        background-color: #1e55e0;
    }
}