<div class="profilePage">
    {{> ProfileSidebarBack }}
    <div class="profile__container">
        {{> ProfileAvatar noNameText="true" }}
        <div class="profile__info profile__info--changePasswordPage">
            {{> ProfileTable fields=profile.changePasswordFields }}
        </div>
        <div class="profile__saveBtnWrap">
            {{> Button id="profileSaveBtn" text="Сохранить" }}
        </div>
    </div>
</div>
{{> PagesNavigation  }}