<div class="profilePage">
    {{> ProfileSidebarBack }}
    <div class="profile__container">
        {{> ProfileAvatar noNameText="true" }}
        <div class="profile__info">
            <form class="profile__form editProfilePasswordForm">
                {{#each profile.changeProfilePasswordControls }}
                    {{> FormControl }}
                {{/each}}
                <div class="editProfilePasswordForm__buttonWrap">
                    {{> Button id="profileSaveBtn" text="Сохранить" }}
                </div>
            </form>
        </div>
    </div>
</div>
{{> PagesNavigation  }}
