<div class="p500__page">
    <div class="p500__container">
        <h1 class="p500__header">500</h1>
        <p class="p500__text">Мы уже фиксим</p>
        <div class="p500__homeLinkWrap">
            {{{ homeLink }}}
        </div>
    </div>
    {{{ pagesNavigation }}}
</div>
