<div class="p500__page">
    <div class="p500__container">
        <h1 class="p500__header">500</h1>
        <p class="p500__text">Мы уже фиксим</p>
        <div class="p500__homeLinkWrap">
            {{> ActionLink id="page500Homelink" text="Назад к чатам" }}
        </div>
    </div>
</div>
{{> PagesNavigation  }}
