<div class="dialog__wrap">
    <div class="dialog__overlay" data-forEventName="overlay">
        <div class="dialog__holder">
            <div class="dialog">
                <div class="dialog__title">{{ header }}</div>
                <div class="dialog__text">
                    {{{ actionLink }}}
                </div>
                <div class="dialog__actions">
                    <div class="dialog__actionBtnWrap ">
                        {{{ button }}}
                    </div>
                </div>
                <div class="dialog__messages">
                    <span class="dialog__message">{{ hint }}</span>
                </div>
            </div>
        </div>
    </div>
</div>

