<div class="signIn__page">
    <main class="signIn__container">
        <div class="form__wrap">
            <h1 class="form__title">Регистрация</h1>
            <form class="signIn__form form" data-forEventName="formElement">
                {{{ formControls }}}
                <div class="form__buttonWrap">
                    {{{ button }}}
                </div>
                <div class="form__action">
                    {{{ enterLink }}}
                    {{!-- {{> ActionLink id="signInEntranceLink" text="Войти" }} --}}
                </div>
            </form>
        </div>
    </main>
    {{{ pagesNavigation  }}}
</div>
