<div class="dialog__overlay">
    <div class="dialog__holder">
        <div class="dialog">
            <div class="dialog__title">Загрузите файл</div>
            <div class="dialog__text">Выбрать файл на компьютере</div>
            <div class="dialog__actions">
                <div class="dialog__actionBtnWrap ">
                    <button class="button">Поменять</button>
                </div>
            </div>
            <div class="dialog__messages">
                <span class="dialog__message">Нужно выбрать файл</span>
            </div>
        </div>
    </div>
</div>
