
.chat {
  &__msgDayLine {
      margin-top: 10px;
      margin-bottom: 20px;
      font-size: 12px;
      color: var(--greyTextClr);
      text-align: center;
  }

  /* &__msgGroupByDate {
      display: flex;
      flex-direction: column;
  } */
}
