.sidebarArrowBtn {
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBFBFB;
    cursor: pointer;
    transition: all;
    transition-duration: 0.3;

    &:hover {
        background-color: var(--greyBgClr);
    }

    &__icon {
        width: 30px;
        height: 30px;
        background-color: var(--blueClr);
        border-radius: 50%;
        transform: rotate(-180deg);
    }
}
