<table class="infoTable">
    {{#each fields}}
        <tr class="infoTable__row">
            <td class="infoTable__cell infoTable__cell--name">{{ name }}</td>
            <td class="infoTable__cell infoTable__cell--value">{{ value }}</td>
        </tr>
    {{/each}}
</table>
