<article class="chat__msg chat__msg--image chat__msg--others">
    <img class="chat__msgImg" width="100" height="100"
        src="{{ src }}"
        alt="chat message image">
    <span class="chat__msgTimeImg">{{ time }}</span>
</article>