.signUp {
    &__page {
        height: 100vh;
        display: flex;
        align-items: center;
    }

    &__container {
        width: 340px;
        margin: 50px auto;
        box-shadow: 0 0 6px rgb(0 0 0 / 14%);
        border-radius: 12px;
    }

    &__message {
        text-align: center;
        margin-bottom: 5px;
        color: var(--redClr);
        font-size: 11px;
        line-height: 13px;
    }
}

.signUp__page .form {
    &__wrap {
        padding: 30px;
    }

    &__title {
        margin-bottom: 30px;
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
    }

    &__buttonWrap {
        margin-bottom: 10px;
    }

    &__action {
        text-align: center;
    }
}
