.p404 {
    &__page {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    &__container {
        width: 100%;
        text-align: center;
    }

    &__header {
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 40px;
        line-height: 40px;
    }

    &__text {
        margin-bottom: 65px;
        font-size: 20px;
        line-height: 20px;
    }
}
