<div class="p404__page">
    <div class="p404__container">
        <h1 class="p404__header">404</h1>
        <p class="p404__text">Не туда попали</p>
        <div class="p404__homeLinkWrap">
            {{> ActionLink id="page404Homelink" text="Назад к чатам" }}
        </div>
    </div>
</div>
{{> PagesNavigation  }}